@import '_mixins';
@import '../vendor/topcoat/less/topcoat-desktop-light';

.wrapper {
    margin: 20px;
}

.button-container,
.input-container {
}

header {
    .topcoat-navigation-bar;

    .title-container {
        .topcoat-navigation-bar__item;

        h1 {
            .topcoat-navigation-bar__title;
        }
    }

}

.button-container {

}

button {
    .topcoat-button--large--cta;
}

#VoiceInput {
    display: block;
    width: 100%;
}

#Transcript {
    .topcoat-textarea--large;
}
